# pandas 基础
    表格型， 异质型数据

In [15]:
import pandas as pds

# series 一维数组对象 自带索引

In [17]:
obj  =  pds.Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
obj[0]

1

In [19]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [21]:
# 自定义索引
obj  =  pds.Series([1,2,3,4], index = ["a", "b", "c", "d"])

In [22]:
obj

a    1
b    2
c    3
d    4
dtype: int64

In [23]:
obj * 3

a     3
b     6
c     9
d    12
dtype: int64

In [24]:
obj > 2

a    False
b    False
c     True
d     True
dtype: bool

In [ ]:
# 可以将字典转化为Series对象

In [26]:
d = {"a": 1, "b":2, "c":3, "d":4}

In [27]:
d_s = pds.Series(d)
d_s

a    1
b    2
c    3
d    4
dtype: int64

In [28]:
d_s_1 = pds.Series(d, index = ["b", "c", "d", "e"])# 索引过滤
d_s_1

b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [30]:
# 检查缺失数据
d_s_1.isnull()

b    False
c    False
d    False
e     True
dtype: bool

In [32]:
d_s_1.notnull()

b     True
c     True
d     True
e    False
dtype: bool

In [33]:
# 数学操作中自动对齐索引
d_s + d_s_1

a    NaN
b    4.0
c    6.0
d    8.0
e    NaN
dtype: float64

In [41]:
# name属性
d_s_1.name = "num"
d_s_1.name

'num'

In [42]:
d_s_1.index

Index(['b', 'c', 'd', 'e'], dtype='object')

In [43]:
d_s_1.index.name = "letter"

In [44]:
d_s_1.index.name

'letter'

# DataFrame
    矩阵数据表   已排序的列集合    每列的值类型可不同
    行索引与列索引     分层索引

In [ ]:
# 等长列表
# 字典

In [78]:
d = {"a":[9,2,3,4,5,6], "b":[19,12,13,14,15,16]}
frame = pds.DataFrame(d)
frame

   a   b
0  9  19
1  2  12
2  3  13
3  4  14
4  5  15
5  6  16

In [79]:
frame.head()#显示头5行

   a   b
0  9  19
1  2  12
2  3  13
3  4  14
4  5  15

In [80]:
frame.columns

Index(['a', 'b'], dtype='object')

In [54]:
# 指定列的顺序

In [58]:
frame_1 = pds.DataFrame(d, columns = ["b", "a"])
frame_1

    b  a
0  19  9
1  12  2
2  13  3
3  14  4
4  15  5
5  16  6

In [60]:
frame_2 = pds.DataFrame(d, columns = ["a","b", "e"])
frame_2

   a   b    e
0  9  19  NaN
1  2  12  NaN
2  3  13  NaN
3  4  14  NaN
4  5  15  NaN
5  6  16  NaN

In [66]:
# dataframe中每一列检索为Series
frame_2.a # a已存在
frame_2["a"]

0    9
1    2
2    3
3    4
4    5
5    6
Name: a, dtype: int64

In [65]:
frame_2["a"][0]

9

In [75]:
# 给列赋值
frame_2["c"] = 8
frame_2.d = 9
frame_2

   a   b  e  c
0  9  19  9  8
1  2  12  2  8
2  3  13  3  8
3  4  14  4  8
4  5  15  5  8
5  6  16  6  8

In [76]:
frame_2["e"] = frame_2.a
frame_2

   a   b  e  c
0  9  19  9  8
1  2  12  2  8
2  3  13  3  8
3  4  14  4  8
4  5  15  5  8
5  6  16  6  8

In [ ]:
# 操作的是视图而不是拷贝
# 显示复制
# 删除列 del frame[列]

In [81]:
# 嵌套字典生成frame
# 外层字典的键设为列，内层字典的键设为索引

In [82]:
# 转置操作

In [84]:
# frame_2.values 为 ndarray 类型不同时自动选择类型
frame_2.values

array([[ 9, 19,  9,  8],
       [ 2, 12,  2,  8],
       [ 3, 13,  3,  8],
       [ 4, 14,  4,  8],
       [ 5, 15,  5,  8],
       [ 6, 16,  6,  8]], dtype=int64)

In [85]:
# 索引对象不可变，可以重复

# 基本功能

In [87]:
# 重建索引
obj = pds.Series([1,2,3])
obj

0    1
1    2
2    3
dtype: int64

In [96]:
obj_1 = obj.reindex([3,2,1,0,4], method = "ffill")
obj_1

3    3
2    3
1    2
0    1
4    3
dtype: int64

In [99]:
# 重置列索引
frame_1 = frame.reindex(columns = ["t", "k", "l"])
frame_1

    t   k   l
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN
3 NaN NaN NaN
4 NaN NaN NaN
5 NaN NaN NaN